### Задание 1. Загрузка данных

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения:

surgery?, Age, rectal temperature, pulse, respiratory rate,

temperature of extremities, pain, outcome.

In [15]:
import pandas as pd
import numpy as np

In [16]:
df_horse = pd.read_csv('horse_data.csv', usecols=[0, 1, 3, 4, 5, 6, 10, 22], header = None, na_values='?')
df_horse.columns = ['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate',\
                    'temperature of extremities', 'pain', 'outcome']
df_horse

# header = None не даст превратить первую строку в название столбцов
# открою только нужные столбцы по описанию из horse_data.names
# na_values='?' заменит "?" на NaN

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [17]:
df_horse['Age'] = df_horse['Age'].replace(9, 2)
df_horse.head()
# несоответствие значений столбца и информации из horse_data.names
# предполагаю, что '9' == '2'

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [18]:
df_horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [19]:
df_horse.describe(include='all')

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.080000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,0.271746,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

### Подсчет количеств значений категориальных величин

In [14]:
df_horse['surgery?'].value_counts()

1.0    180
2.0    119
Name: surgery?, dtype: int64

In [15]:
df_horse['Age'].value_counts()

1    276
2     24
Name: Age, dtype: int64

In [16]:
df_horse['temperature of extremities'].value_counts()

3.0    109
1.0     78
2.0     30
4.0     27
Name: temperature of extremities, dtype: int64

In [17]:
df_horse['pain'].value_counts()

3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: pain, dtype: int64

In [18]:
df_horse['outcome'].value_counts()

1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

In [ ]:
# # немного почитав про лошадей, пришел к выводу,что параметры организма
# взрослых и жеребят отличаются
# в связи с этим решил разбить таблицу на две

In [20]:
df_young = df_horse[df_horse['Age'] == 2]
df_young

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,2,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,2,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,2,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,2,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,2,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0

In [21]:
df_adult = df_horse[df_horse['Age'] == 1]
df_adult.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0

In [22]:
df_young.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,24.000000,24.0,20.000000,22.000000,20.000000,16.000000,17.000000,24.000000
mean,1.250000,2.0,38.645000,123.363636,54.600000,2.125000,3.117647,1.541667
std,0.442326,0.0,0.490408,28.628234,23.904195,1.087811,1.218726,0.588230
min,1.000000,2.0,38.000000,84.000000,20.000000,1.000000,1.000000,1.000000
25%,1.000000,2.0,38.275000,100.000000,34.500000,1.000000,2.000000,1.000000
50%,1.000000,2.0,38.600000,124.000000,49.000000,2.500000,3.000000,1.500000
75%,1.250000,2.0,38.925000,144.500000,74.000000,3.000000,4.000000,2.000000
max,2.000000,2.0,39.700000,184.000000,96.000000,4.000000,5.000000,3.000000

In [23]:
df_adult.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,275.000000,276.0,220.000000,254.000000,222.000000,228.000000,228.000000,275.000000
mean,1.410909,1.0,38.124545,67.456693,28.238739,2.364035,2.938596,1.552727
std,0.492896,0.0,0.735988,23.933953,15.251192,1.042669,1.316015,0.749660
min,1.000000,1.0,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.0,37.700000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.0,38.100000,60.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.0,38.500000,84.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,1.0,40.800000,140.000000,96.000000,4.000000,5.000000,3.000000

In [24]:
# дисперсия
print('rectal temperature of young horses')

print(df_young['rectal temperature'].var())
print()
print('pulse of young horses')

print(df_young['pulse'].var())
print()
print('respiratory rate of young horses')

print(df_young['respiratory rate'].var())

rectal temperature of young horses
0.2405000000000003

pulse of young horses
819.5757575757577

respiratory rate of young horses
571.4105263157895

In [25]:
print('rectal temperature of adult horses')

print(df_adult['rectal temperature'].var())
print()
print('pulse of adult horses')

print(df_adult['pulse'].var())
print()
print('respiratory rate of adult horses')

print(df_adult['respiratory rate'].var())

rectal temperature of adult horses
0.5416778746367784

pulse of adult horses
572.8340854626374

respiratory rate of adult horses
232.59885451061916

### Выбросы

жеребята

In [34]:
q1 = df_young['rectal temperature'].quantile(0.25)
q3 = df_young['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
df_young[~df_young['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
191,2.0,2,NaN,100.0,44.0,2.0,4.0,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0

In [29]:
q1 = df_young['pulse'].quantile(0.25)
q3 = df_young['pulse'].quantile(0.75)

df_young[~df_young['pulse'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0

In [30]:
q1 = df_young['respiratory rate'].quantile(0.25)
q3 = df_young['respiratory rate'].quantile(0.75)

df_young[~df_young['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
212,1.0,2,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0

### Выбросы

взрослые

In [31]:
q1 = df_adult['rectal temperature'].quantile(0.25)
q3 = df_adult['rectal temperature'].quantile(0.75)

df_adult[~df_adult['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
34,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
57,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
59,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
65,1.0,1,NaN,60.0,36.0,3.0,3.0,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
86,1.0,1,NaN,88.0,40.0,3.0,5.0,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
101,1.0,1,NaN,60.0,20.0,4.0,5.0,3.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
110,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
145,2.0,1,NaN,80.0,32.0,3.0,2.0,1.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
167,2.0,1,NaN,44.0,24.0,1.0,3.0,1.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
178,1.0,1,NaN,60.0,30.0,3.0,5.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
219,1.0,1,NaN,52.0,28.0,3.0,3.0,1.0
222,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
245,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
253,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
272,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
282,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [32]:
q1 = df_adult['pulse'].quantile(0.25)
q3 = df_adult['pulse'].quantile(0.75)

df_adult[~df_adult['pulse'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
182,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [33]:
q1 = df_adult['respiratory rate'].quantile(0.25)
q3 = df_adult['respiratory rate'].quantile(0.75)

df_adult[~df_adult['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов.

Принять и обосновать решение о методе заполнения пропусков по

каждому столбцу на основе рассчитанных статистик и возможной

взаимосвязи значений в них. Сформировать датафрейм, в котором

пропуски будут отсутствовать.

In [35]:
df_horse.isna().mean() * 100
# количество пропусков в процентах

surgery?                       0.333333
Age                            0.000000
rectal temperature            20.000000
pulse                          8.000000
respiratory rate              19.333333
temperature of extremities    18.666667
pain                          18.333333
outcome                        0.333333
dtype: float64

In [41]:
lived_young = df_young[df_young['outcome'] == 1]
lived_young

# предполагаю, что параметры организмов выживших жеребят 
# отличаются от погибших.
# В свою очередь, разделяю жеребят на живых и покойных (умерших и усыпленных)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
191,2.0,2,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,2,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0

In [42]:
lived_young.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,12.000000,12.0,10.000000,11.000000,10.000000,6.00000,7.000000,12.0
mean,1.416667,2.0,38.540000,113.272727,57.000000,1.50000,3.142857,1.0
std,0.514929,0.0,0.469515,22.222020,22.315914,0.83666,1.069045,0.0
min,1.000000,2.0,38.000000,84.000000,28.000000,1.00000,2.000000,1.0
25%,1.000000,2.0,38.225000,95.000000,33.500000,1.00000,2.500000,1.0
50%,1.000000,2.0,38.400000,120.000000,64.000000,1.00000,3.000000,1.0
75%,2.000000,2.0,38.825000,127.000000,71.500000,1.75000,3.500000,1.0
max,2.000000,2.0,39.500000,150.000000,88.000000,3.00000,5.000000,1.0

In [58]:
lived_young_m = lived_young.copy()
lived_young_m[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']] \
    = lived_young_m[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']] \
    .fillna(lived_young[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']].median())

lived_young_m

# заменю пропуски на медианные значения

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
9,2.0,2,38.3,90.0,64.0,1.0,5.0,1.0
23,1.0,2,38.3,130.0,60.0,1.0,2.0,1.0
41,2.0,2,39.0,150.0,72.0,1.0,3.0,1.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
191,2.0,2,38.4,100.0,44.0,2.0,4.0,1.0
212,1.0,2,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,2,38.4,120.0,64.0,1.0,3.0,1.0
229,1.0,2,38.5,120.0,70.0,1.0,3.0,1.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
262,2.0,2,38.6,88.0,28.0,1.0,3.0,1.0
287,2.0,2,39.5,84.0,30.0,1.0,3.0,1.0

In [55]:
died_young = df_young[df_young['outcome'] != 1]
died_young

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
13,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
109,1.0,2,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,2,38.1,136.0,48.0,3.0,5.0,2.0
252,1.0,2,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

In [60]:
died_young_m = died_young.copy()           
died_young_m[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']] \
    = died_young_m[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']] \
    .fillna(died_young[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']].median())

died_young_m

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
13,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,2,38.8,128.0,36.0,3.0,4.0,2.0
39,1.0,2,39.2,146.0,96.0,3.0,3.0,2.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,2,38.8,136.0,44.0,3.0,3.0,2.0
75,1.0,2,39.7,100.0,44.0,3.0,2.0,3.0
109,1.0,2,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,2,38.1,136.0,48.0,3.0,5.0,2.0
252,1.0,2,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

In [121]:
f_young = pd.concat([lived_young_m, died_young_m])     
f_young

# объединю в один датафрейм заполненные таблицы

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
9,2.0,2,38.3,90.0,64.0,1.0,5.0,1.0
23,1.0,2,38.3,130.0,60.0,1.0,2.0,1.0
41,2.0,2,39.0,150.0,72.0,1.0,3.0,1.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
191,2.0,2,38.4,100.0,44.0,2.0,4.0,1.0
212,1.0,2,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,2,38.4,120.0,64.0,1.0,3.0,1.0
229,1.0,2,38.5,120.0,70.0,1.0,3.0,1.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
262,2.0,2,38.6,88.0,28.0,1.0,3.0,1.0
287,2.0,2,39.5,84.0,30.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
13,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,2,38.8,128.0,36.0,3.0,4.0,2.0
39,1.0,2,39.2,146.0,96.0,3.0,3.0,2.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,2,38.8,136.0,44.0,3.0,3.0,2.0
75,1.0,2,39.7,100.0,44.0,3.0,2.0,3.0
109,1.0,2,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,2,38.1,136.0,48.0,3.0,5.0,2.0
252,1.0,2,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

In [122]:
lived_adult = df_adult[df_adult['outcome'] == 1]
lived_adult

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
10,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
11,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
289,1.0,1,38.0,50.0,36.0,NaN,3.0,1.0
290,2.0,1,38.6,45.0,16.0,2.0,1.0,1.0
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [123]:
died_adult = df_adult[df_adult['outcome'] != 1]
died_adult

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
...,...,...,...,...,...,...,...,...
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [124]:
lived_adult_m = lived_adult.copy()
lived_adult_m[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']] \
    = lived_adult_m[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']] \
    .fillna(lived_adult[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']].median())

lived_adult_m

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
5,2.0,1,38.2,52.0,24.0,2.0,2.0,1.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
10,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
11,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
288,1.0,1,38.2,52.0,24.0,2.0,3.0,1.0
289,1.0,1,38.0,50.0,36.0,2.0,3.0,1.0
290,2.0,1,38.6,45.0,16.0,2.0,1.0,1.0
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [125]:
died_adult_m = died_adult.copy()           
died_adult_m[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']] \
    = died_adult_m[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']] \
    .fillna(died_adult[['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain']].median())

died_adult_m

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
4,2.0,1,37.3,104.0,35.0,3.0,4.0,2.0
7,1.0,1,38.0,60.0,24.0,3.0,4.0,2.0
8,2.0,1,38.0,80.0,36.0,3.0,4.0,3.0
...,...,...,...,...,...,...,...,...
293,1.0,1,38.0,78.0,24.0,3.0,4.0,3.0
295,1.0,1,38.0,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
299,1.0,1,37.2,40.0,20.0,3.0,4.0,3.0

In [126]:
f_adult = pd.concat([lived_adult_m, died_adult_m])     
f_adult

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
5,2.0,1,38.2,52.0,24.0,2.0,2.0,1.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
10,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
11,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
293,1.0,1,38.0,78.0,24.0,3.0,4.0,3.0
295,1.0,1,38.0,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
299,1.0,1,37.2,40.0,20.0,3.0,4.0,3.0

In [148]:
f_horses = pd.concat([f_adult, f_young], ignore_index=True)
f_horses

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
1,2.0,1,38.2,52.0,24.0,2.0,2.0,1.0
2,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
3,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
4,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,2,38.4,84.0,40.0,3.0,3.0,2.0
296,1.0,2,38.1,136.0,48.0,3.0,5.0,2.0
297,1.0,2,38.8,124.0,36.0,3.0,2.0,2.0
298,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
299,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0